.brand img {
  height: 65px;
}
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 75vh;
  background-color: black;
  color: white;
  display: flex;
  margin: 4px auto;
  width: 70%;
  background-image: url(background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
nav ul {
  display: flex;
  list-style-type: none;
  background-color: black;
  height: 65px;
  color: white;
  align-items: center;
}

nav ul li {
  padding: 0 12px;
}
.bottom {
  background-color: black;
  height: 100px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
#myProgressBar {
  width: 70vw;
  cursor: pointer;
}
.icons {
  margin-top: 14px;
}

.icons i {
  cursor: pointer;
  padding: 0 10px;
}

.songItem {
  display: flex;
  height: 40px;
  background-color: white;
  width: 500px;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItem img {
  height: 35px;
  width: 35px;
  margin: 0 23px;
  border-radius: 50%;
}
.timeStamp {
  margin: 0 23px;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 40px;
}
.songInfo {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  position: absolute;
  left: 15vw;
}
.songInfo img{
  opacity: 0;
  transition: opacity 0.8s ease-in;
}
a{
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .songItem {
    width: 100%;
    
  }
  .songInfo{
    display: none;
  }
  nav ul a{
    display: none;
  }

}